.container {
    display: flex;
    flex-direction: column;   
}

.virtual{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;  
    height: 93.02vh; 
}

.row-video-container{
    flex: 3 0 auto;
}

.row-chat-container{
    display: flex;
    flex: 0 0 auto;
}

.col-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    height: 100%;
}

.col-video-container{
    flex: 1 1 auto;
    height: 40vh
}

.col-chat-container{
    flex: 3 0 auto;
    height: 53vh
}

.third-container{
    height: 93vh;
    width: 100%;
}