.chat-box {
    display: flex;
    flex-direction: column;
    border : 2px solid black;
    padding: 0;
    height : 100%
}

.chat-history {
    color: darkgray;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
}

.input-form {
    display: flex;
    align-items: center;
}

.chat-display {
    border-bottom : 2px solid black;
    margin : 0;
    height: 100%;
    width: 100%;
}

.input-text {   
    padding : 5px;
    width : 50vh;
}

/* .chat-confe {
    overflow: hidden;
    border: 0;
    align-self: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */

.chat-confe {
    position: relative;
    overflow: hidden;
    height: 100%;
}