/* * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Reseting CSS
 */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Styling navigation bar for large screen devices
 */

.navbar {
   position: relative;
   background: linear-gradient(135deg, #d6d2d2, #d5d0d0);

}

.navbar-left {
   display: inline-block;
   margin-left: 15px;
}

.navbar-right {
   display: inline-block;
   margin-right: 15px;
   position: absolute;
   top: 0;
   right: 0;
}


.navbar-brand,
.navbar .nav-link {
   color: black;
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
   padding: 16px;
}

.navbar-brand {
   font-weight: bold;
   padding-left: 30px;
   padding-right: 30px;
   color: black;
}

.navbar .nav-link:hover {
   /* color:#008aff;
   font-weight: bold; */
   background-color: #f2f2f2;
   border: none;
}

.navbar .nav-link-end {
   color: white;
   font-weight: bold;
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
   padding: 16px;
   background-color: #f13775;
   border-radius: 20px;
   box-sizing: border-box;
   border: 20px;
   display: inline-block;
   height: 10%;


}



.navbar-collapse,
.navbar-toggler {
   display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Override styles to support mobile devices
 */

@media (max-width: 842px) {
   .navbar-right,
   .navbar-left {
      display: block;

      border-top: 1px solid DimGray;
   }

   .navbar-right {
      position: static;
   }

   .navbar .nav-link {
      display: block;
   }

   .navbar-collapse:checked + .navbar {
      max-height: 50px;
      overflow: hidden;
   }

   .navbar-toggler {
      color: White;

      display: inline-block;
      padding: 15px 25px;

      position: absolute;
      top: 0;
      right: 0;

      border-left: 1px solid DimGray;

      cursor: pointer;
   }
} 
